//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bav {
            bindings = <&kp BACKSPACE>;
            key-positions = <15 16>;
        };

        japanese {
            bindings = <&kp LA(TILDE)>;
            key-positions = <37 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                     &mt NUMBER_1 Q    &mt NUMBER_2 W      &mt NUMBER_3 E  &mt NUMBER_4 R  &mt N5 T    &mt NUMBER_6 Y  &mt N7 U        &mt N8 I         &mt N9 O            &mt N0 P
                     &hm LEFT_SHIFT A  &hm LEFT_CONTROL S  &hm LEFT_GUI D  &hm LEFT_ALT F  &kp G       &kp H           &hm LEFT_ALT J  &hm LEFT_GUI K   &hm LEFT_CONTROL L  &hm LEFT_SHIFT SEMICOLON
&mt CAPSLOCK ESCAPE  &kp Z             &kp X               &kp C           &kp V           &kp B       &mt B N         &kp M           &kp COMMA        &mt APOS DOT        &mt QUESTION SLASH        &mt RCTRL BACKSPACE
                                                           &lt 2 GRAVE     &kp SPACE       &to 1       &to 1           &kp ENTER       &lt 2 RIGHT_ALT
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans    &kp UP_ARROW  &trans     &kp LBRC    &kp RBRC  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &mt KP_DIVIDE MINUS
        &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &kp LBKT    &kp RBKT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &mt KP_MULTIPLY PLUS
&trans  &trans  &trans    &trans        &trans     &kp LPAR    &kp RPAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL             &trans
                          &trans        &trans     &trans      &trans    &trans        &kp N0
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &trans  &kp INSERT  &kp PAGE_UP    &kp DELETE  &trans    &trans  &kp F9  &kp F10  &kp F11  &kp F12
                &trans  &kt HOME    &kp PAGE_DOWN  &kp END     &trans    &trans  &kp F5  &kp F6   &kp F7   &kp F8
&studio_unlock  &trans  &trans      &trans         &trans      &trans    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans
                                    &trans         &trans      &trans    &trans  &trans  &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
