//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bav {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 17>;
            timeout-ms = <60>;
            require-prior-idle-ms = <20>;
        };

        japanese {
            bindings = <&kp LA(GRAVE)>;
            key-positions = <37 31>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <26 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                &mt GRAVE Q       &kp W               &kp E           &kp R           &kp T    &kp Y       &kp U           &kp I           &mt LEFT_BRACKET O  &mt RIGHT_BRACKET P
                &hm LEFT_SHIFT A  &hm LEFT_CONTROL S  &hm LEFT_GUI D  &hm LEFT_ALT F  &kp G    &kp H       &hm LEFT_ALT J  &hm LEFT_GUI K  &hm LEFT_CONTROL L  &hm LEFT_SHIFT SEMICOLON
&mt TAB ESCAPE  &kp Z             &kp X               &kp C           &kp V           &kp B    &mt B N     &kp M           &kp COMMA       &mt APOS DOT        &mt BSLH SLASH            &kp BACKSPACE
                                                      &lt 3 CAPSLOCK  &lt 2 SPACE     &mo 1    &lt 1 RALT  &lt 2 ENTER     &lt 3 RCTRL
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7      &kp N8    &mt MINUS N9   &mt EQUAL N0
        &trans  &trans  &trans  &trans  &trans    &trans  &kp INSERT  &kp HOME  &kp PAGE_UP    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp DEL     &kp END   &kp PAGE_DOWN  &trans        &trans
                        &trans  &trans  &trans    &trans  &trans      &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9   &kp F10
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &trans  &trans    &kp UP_ARROW    &trans     &trans    &trans  &kp INSERT  &kp HOME  &kp PAGE_UP    &trans
        &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans    &trans  &kp DEL     &kp END   &kp PAGE_DOWN  &trans
&trans  &trans  &trans    &trans          &trans     &trans    &trans  &trans      &trans    &trans         &trans  &trans
                          &trans          &trans     &trans    &trans  &trans      &trans
            >;
        };

        layer_4 {
            display-name = "Fun";
            bindings = <
        &bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
